* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
}


.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  width: 70%;
  color: rgb(6, 6, 7);
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle {
  color: rgb(6, 6, 7);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0%;
  text-align: center;
}


.main {
  background: url("../img/main-img-bg.png");
  height: 800px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  object-fit: cover;
}

/* header */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-top: 5px;
  margin-right: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 7;
}

.header-nav .header-title {
  flex-basis: 207px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

/*header-social-media  */
.header-social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-social-media img {
  width: 40px;
  height: 40px;
  transition: all ease 500ms;
}


.header-social-media img:hover {
  transform: scale(1.2);
}


/* header-contact */
.header-contact {
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.header-contact .contact-phone {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.contact-phone a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
  line-height: 37.5px;
  letter-spacing: 0%;
  text-align: right;
  text-decoration-line: underline;
  position: relative;
  margin-bottom: 4px;
  transition: all ease 500ms;
}

.contact-phone a:hover {
  opacity: 0.7;
  text-decoration-line: none;
}


.contact-phone a::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 40%;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: rgb(105, 240, 135);
}

.contact-phone span {
  color: rgb(255, 255, 255);
  /* font-family: Roboto; */
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: right;
}

.contact-btn {
  cursor: pointer;
  width: 196.83px;
  height: 46.45px;
  color: rgb(255, 216, 136);
  /* font-family: Roboto; */
  font-size: 18px;
  font-weight: 500;
  line-height: 26.46px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgb(255, 216, 136);
  border-radius: 10px;
  transition: all ease 500ms;
}

.contact-btn:hover {
  background: rgb(255, 216, 136);
  color: black;
}

/* heading-sec */
.heading-sec {
  margin: 83px 0 90px;
}

/* heading-top */
.heading-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.heading-text {
  width: 815px;
}

.heading-text .heading-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: left;

}

.heading-text .heading-subtitle {
  max-width: 636px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0%;
  text-align: left;
  margin: 28px 0 57px;
}

.heading-btn-wrap {
  display: flex;
  align-items: center;
}

.heading-btn-wrap .heading-btn {
  cursor: pointer;
  width: 296px;
  height: 69px;
  border-radius: 5px;
  margin-right: 21px;
  background: rgb(255, 216, 136);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 29.4px;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Roboto";
}

.heading-btn-wrap .heading-btn-text {
  color: rgb(255, 255, 255);
  width: 188px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

/* heading-card */
.heading-card {
  margin-top: 20px;
  flex-basis: 250px;
  height: 325px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}

.heading-card .heading-card-title {
  height: 43.19px;
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 12px;
}

.heading-card .heading-card-form {
  width: 219px;
  height: 138.63px;
  text-align: start;
  margin-bottom: 30px;
}

.heading-card-form label {
  display: block;
  height: 30.63px;
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 20.63px;
  letter-spacing: 0%;
  text-align: left;
}

.heading-card-form input {
  box-sizing: border-box;
  border: 1px solid rgba(6, 6, 7, 0.15);
  border-radius: 4px;
  padding: 13px 16px 14px;
  background: rgb(255, 255, 255);
  width: 219px;
  height: 46px;
  margin-bottom: 20px;
}

.heading-card-form button {
  width: 219px;
  height: 42px;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(27, 27, 27);
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}


.heading-card-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading-card-icons img {
  width: 48px;
  height: 48px;
}


/* heading-bottom */
.heading-bottom {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-bottom .heading-bottom-item {
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 121px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  z-index: 2;
}

.heading-bottom .heading-bottom-item::before {
  position: absolute;
  content: "";
  bottom: -15px;
  transform: translateX(20%);
  width: 250px;
  height: 15px;
  border-radius: 0 0 10px 10px;
  background: rgb(254, 163, 34);
  z-index: -1;
}

.heading-bottom .heading-bottom-item img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.heading-bottom .heading-bottom-item p {
  width: 240px;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 23px auto 26px 22px;
}

.heading-bottom .heading-bottom-item:nth-child(2) p {
  width: 210px;
}



/* CARDS SECTION */
.cards-sec {
  height: 2034px;
  background: url("../img/cards-section-bg.png");
  padding-top: 31px;
  padding-bottom: 87px;
  background-size: cover;
}

.cards-sec .cards-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 56px;
  padding-bottom: 60px;
}

.cards-wrap .cards-wrap-item {
  width: 450px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 99px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}

.cards-wrap-item .cards-wrap-item-img {
  border-radius: 10px 10px 0px 0px;
  height: 278px;
  width: 100%;
}

.cards-wrap-item .card-body {}

.card-body .card-status {
  display: flex;
  align-items: center;
  margin: 14px 21px 41px 10px;
  justify-content: space-between;

}

.card-status .card-status-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-status-item img {
  width: 40px;
  height: 40px;
}

.card-status-item div {
  color: rgb(6, 6, 7);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.card-status-item div span {
  display: block;
}

.card-body .card-title {
  margin-left: 20px;
  margin-bottom: 12px;
  color: rgb(6, 6, 7);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.card-body .card-text {
  height: 100px;
  width: 320px;
  margin-left: 18px;
  margin-bottom: 20px;
  color: rgb(6, 6, 7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.card-body .card-link {
  color: rgb(254, 163, 34);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-left: 20px;
}

/* renavation-form */
.renavation-form {
  position: relative;
  background: url("../img/form-bg-img.png");
  height: 354px;
  max-width: 1048px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 28px;
  /* background: red; */
}


.renavation-form .phoneimg-form {
  position: absolute;
  left: -150px;
  bottom: -20px;
}

.renavation-form .renavation-form-title {
  color: white;
  width: 100%;
  margin-bottom: 16px;
}

.renavation-form .renavation-form-subtitle {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.renavation-form form {
  position: relative;
  z-index: 2;
  width: 800px;
  margin: 46px auto;
  color: white;
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  gap: 9px;
}


.renavation-form .form-item {
  max-width: 277px;
}

.renavation-form .form-item label {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 6px;
  margin-left: 7px;
}


.renavation-form .form-item input {
  padding: 13px 16px 14px;
  width: 277px;
  box-sizing: border-box;
  border: 1px solid rgba(6, 6, 7, 0.15);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: black;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
}

.renavation-form .renavation-form-btn {
  flex-basis: 255px;
  height: 46px;
  border-radius: 5px;
  background: rgb(255, 216, 136);
  cursor: pointer;

  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  letter-spacing: 0%;
  text-align: center;
}